* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include fullscreen();

    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    @include fullscreen();

    // overscroll-behavior-y: none;

    font-family: $primary-font;

    @media only screen and (max-width: 767px) {
        background-size: 100vw minmax(95vh, auto) !important;
    }
}

.App {
    min-height: 100%;
    padding: 0;
}

h1 {
    font-family: opensans-bold;
    color: $light;
    font-size: $size-4 !important;
    margin-bottom: 5vh;
}

h2 {
    font-family: opensans-bold;
    color: $light;
    font-size: $size-2 !important;
    margin-bottom: 5vh;
}

h6 {
    font-family: opensans-italic;
    text-align: center;
}

.Page {
    @include fullscreen();
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: $light;
}

#work,
#about,
#contact {
    background: linear-gradient(90deg, rgba(10, 13, 15, 0.9) 0%, rgba(30, 30, 30, 0.95) 80%),
        url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: $blue !important;
    text-decoration: none !important;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: $blue !important;
            text-decoration: none !important;
            border-bottom: 2px solid $blue;
        }
    }

    &:active {
        color: $blue !important;
        text-decoration: none !important;
        border-bottom: 2px solid $blue;
        border-radius: 0.25rem;
    }
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1em dotted $blue;
    border-radius: 50%;
    animation: loading 1.1s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    display: none;
    animation-play-state: paused;
}

.btn,
button {
    font-family: opensans-bold !important;
    color: $dark;
}

.line {
    width: 100%;
    height: 3px;
    border-bottom: 3px solid $dark;
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clickableIcon {
    cursor: pointer;
    margin: 2vw;
    font-size: calc(10px + 2vmin);
}

.fade {
    animation: fade-in-keyframes 0.5s;
}

.wrap {
    margin-bottom: 4vh;
}

.dark-text {
    color: $dark;
}

.show {
    visibility: visible;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.jumbotron {
    background-color: var(--light);
}

.greyedout {
    background-color: #8a8a8a;
}

.input {
    width: 50vw;
}
