* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include fullscreen();

    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

body {
    @include fullscreen();

    // overscroll-behavior-y: none;

    font-family: $primary-font;
    overflow-x: hidden;

    @media only screen and (max-width: 767px) {
        background-size: 100vw minmax(95vh, auto) !important;
    }
}

.App {
    min-height: 100%;
    padding: 0;
}

h1 {
    font-family: opensans-bold;
    color: $light;
    font-size: $size-4 !important;
    margin-bottom: 5vh;
}

h2 {
    font-family: opensans-bold;
    color: $light;
    font-size: $size-2 !important;
    margin-bottom: 5vh;
}

h6 {
    font-family: opensans-italic;
    text-align: center;
}

nav {
    z-index: 10;
    * {
        z-index: 10;
    }
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 15vh;
    max-height: 15vh;
    // background-color: rgba($color: #9a5151, $alpha: 0.4);
    color: $light;
    vertical-align: bottom;
    a {
        color: $light !important;
        background-color: $orange;
        border-radius: 5px;
        padding: 10px;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                text-decoration: none !important;
                color: $light !important;
                border: none;
            }
        }

        &:active {
            text-decoration: none !important;
            color: $light !important;
            border: none;
        }
    }
    ul {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        height: 8vh;
        width: 100%;
        font-weight: 600;
        font-size: larger;
    }
    li {
        display: block;
        flex: 1;
        &:hover {
            transform: scale(1.1);
        }
    }

    .logo {
        background-color: $orange;
        border-radius: 5px;
        height: 8vh;
        position: fixed;
        left: 2vw;
        top: 2vw;
        a {
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
        h1 {
            margin: 0;
        }
    }
}

.Page {
    @include fullscreen();
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: $light;
}

#work,
#contact {
    background-color: white;
}

#about {
    background: linear-gradient(90deg, rgba(10, 13, 15, 0.9) 0%, rgba(30, 30, 30, 0.95) 80%),
        url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: $blue !important;
    text-decoration: none !important;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: $blue !important;
            text-decoration: none !important;
            border-bottom: 2px solid $blue;
        }
    }

    &:active {
        color: $blue !important;
        text-decoration: none !important;
        border-bottom: 2px solid $blue;
        border-radius: 0.25rem;
    }
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1em solid RGBA(0, 0, 0, 0.2);
    border-right: 1em solid #000000;
    border-radius: 50%;
    animation: loading 1.5s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    display: none;
    animation-play-state: paused;
}

.btn,
button {
    font-family: opensans-bold !important;
    color: $dark;
}

.line {
    width: 100%;
    height: 3px;
    border-bottom: 3px solid $dark;
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clickableIcon {
    cursor: pointer;
    margin: 2vw;
    font-size: calc(10px + 2vmin);
}

.fade {
    animation: fade-in-keyframes 0.5s;
}

.wrap {
    margin-bottom: 4vh;
}

.dark-text {
    color: $dark;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba($color: $dark, $alpha: 0.9);

    ul {
        width: 30vw;
    }
}

.show {
    visibility: visible;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.jumbotron {
    background-color: var(--light);
}

.greyedout {
    background-color: #504d4d8a;
    cursor: not-allowed;
}

.input {
    width: 50vw;
}
