@import "./partials/vars";
@import "./partials/main";
@import "./partials/pages/home";
@import "./partials/pages/work";
@import "./partials/pages/about";
@import "./partials/pages/contact";
@import "./partials/keyframes";

.test {
    background-color: $dark;
    // border: 5px solid black;
    border-radius: 5px;
    width: 50vw;
    height: 50vh;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    position: relative;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
