@font-face {
  font-family: opensans;
  src: url("../Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: opensans-italic;
  src: url("../Open_Sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: opensans-bold;
  src: url("../Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: opensans-bolditalic;
  src: url("../Open_Sans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: opensans-extrabold;
  src: url("../Open_Sans/OpenSans-ExtraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: opensans;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  body {
    background-size: 100vw minmax(95vh, auto) !important;
  }
}

.App {
  min-height: 100%;
  padding: 0;
}

h1 {
  font-family: opensans-bold;
  color: #f0f9ff;
  font-size: calc(0.75em + 4vmin) !important;
  margin-bottom: 5vh;
}

h2 {
  font-family: opensans-bold;
  color: #f0f9ff;
  font-size: calc(0.75em + 2vmin) !important;
  margin-bottom: 5vh;
}

h6 {
  font-family: opensans-italic;
  text-align: center;
}

nav {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 15vh;
  max-height: 15vh;
  color: #f0f9ff;
  vertical-align: bottom;
}

nav * {
  z-index: 10;
}

nav a {
  color: #f0f9ff !important;
  background-color: #ff5d00;
  border-radius: 5px;
  padding: 10px;
}

@media (hover: hover) and (pointer: fine) {
  nav a:hover {
    text-decoration: none !important;
    color: #f0f9ff !important;
    border: none;
  }
}

nav a:active {
  text-decoration: none !important;
  color: #f0f9ff !important;
  border: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  height: 8vh;
  width: 100%;
  font-weight: 600;
  font-size: larger;
}

nav li {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .logo {
  background-color: #ff5d00;
  border-radius: 5px;
  height: 8vh;
  position: fixed;
  left: 2vw;
  top: 2vw;
}

nav .logo a {
  background-color: transparent;
}

nav .logo a:hover {
  background-color: transparent;
}

nav .logo h1 {
  margin: 0;
}

.Page {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f0f9ff;
}

#work,
#contact {
  background-color: white;
}

#about {
  background: -webkit-gradient(linear, left top, right top, from(rgba(10, 13, 15, 0.9)), color-stop(80%, rgba(30, 30, 30, 0.95))), url(../img/background.jpg) no-repeat center center fixed;
  background: linear-gradient(90deg, rgba(10, 13, 15, 0.9) 0%, rgba(30, 30, 30, 0.95) 80%), url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #0001ff !important;
  text-decoration: none !important;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: #0001ff !important;
    text-decoration: none !important;
    border-bottom: 2px solid #0001ff;
  }
}

a:active {
  color: #0001ff !important;
  text-decoration: none !important;
  border-bottom: 2px solid #0001ff;
  border-radius: 0.25rem;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1em solid RGBA(0, 0, 0, 0.2);
  border-right: 1em solid #000000;
  border-radius: 50%;
  -webkit-animation: loading 1.5s infinite linear;
          animation: loading 1.5s infinite linear;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.loader--hide {
  display: none;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.btn,
button {
  font-family: opensans-bold !important;
  color: #070606;
}

.line {
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #070606;
  position: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clickableIcon {
  cursor: pointer;
  margin: 2vw;
  font-size: calc(10px + 2vmin);
}

.fade {
  -webkit-animation: fade-in-keyframes 0.5s;
          animation: fade-in-keyframes 0.5s;
}

.wrap {
  margin-bottom: 4vh;
}

.dark-text {
  color: #070606;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(7, 6, 6, 0.9);
}

.fixed-nav ul {
  width: 30vw;
}

.show {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hide {
  visibility: hidden;
}

.jumbotron {
  background-color: var(--light);
}

.greyedout {
  background-color: #504d4d8a;
  cursor: not-allowed;
}

.input {
  width: 50vw;
}

.WelcomeText {
  font-size: calc(0.75em + 1vmin) !important;
}

#homeBody {
  height: 50vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2vh;
}

#aboutBtn {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  opacity: 0.8;
}

@media (hover: hover) and (pointer: fine) {
  #aboutBtn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    font-weight: bold;
    opacity: 0.9;
    background-color: #ff5d00;
    border-color: #ff5d00;
  }
}

#aboutBtn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: bold;
  opacity: 0.9;
  background-color: #ff5d00;
  border-color: #ff5d00;
}

#letsTalkBtn {
  float: right;
  font-weight: bold;
  opacity: 0.8;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  min-width: 10vw;
  height: auto;
}

@media (hover: hover) and (pointer: fine) {
  #letsTalkBtn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    font-weight: bold;
    opacity: 0.9;
    background-color: #ff5d00;
    border-color: #ff5d00;
  }
}

#letsTalkBtn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: bold;
  opacity: 0.9;
  background-color: #ff5d00;
  border-color: #ff5d00;
}

#introBox {
  max-width: 80vh;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

#tooltip {
  color: white;
  font-weight: bold;
  background-color: unset;
  font-size: 3vh;
}

#scrollBtn {
  font-size: 10vh;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-animation: MoveUpDown 1s linear infinite;
          animation: MoveUpDown 1s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
  #scrollBtn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
    color: #ff5d00;
  }
}

#scrollBtn:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
  color: #ff5d00;
}

.smallimg {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 250px) {
  .smallimg {
    display: none;
  }
}

.card-deck {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.fa-lock {
  margin-top: 30px;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.card {
  height: 80vh;
  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submitBtn {
  font-size: inherit;
  min-width: 10vw;
  font-weight: bold;
  opacity: 0.8;
  border: 1px solid #070606;
  color: white;
  background-color: #070606;
}

@media (hover: hover) and (pointer: fine) {
  #submitBtn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    font-weight: bold;
    opacity: 0.9;
    background-color: #ff5d00;
    border-color: #ff5d00;
  }
}

#submitBtn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-weight: bold;
  opacity: 0.9;
  background-color: #ff5d00;
  border-color: #ff5d00;
}

#submitting {
  color: #ff5d00;
}

#socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  text-align: right;
}

@media (hover: hover) and (pointer: fine) {
  .fa-facebook:hover {
    color: #1186ee;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-facebook:active {
  color: #1186ee;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
  .fa-instagram:hover {
    color: #aa328b;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-instagram:active {
  color: #aa328b;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
  .fa-github:hover {
    color: #586069;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-github:active {
  color: #586069;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
  .fa-twitter:hover {
    color: #1ea1f2;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-twitter:active {
  color: #1ea1f2;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
  .fa-envelope:hover {
    color: #f95439;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-envelope:active {
  color: #f95439;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
  .fa-linkedin-in:hover {
    color: #1377b5;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.fa-linkedin-in:active {
  color: #1377b5;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#contactJumbotron {
  padding-right: 2vw;
  padding-left: 2vw;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

@-webkit-keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navbar {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.test {
  background-color: #070606;
  border-radius: 5px;
  width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  position: relative;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url("../img/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -3;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("../img/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("../img/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

#home img {
  height: 40vw;
  width: 40vw;
  position: absolute;
  top: -20%;
  right: -20%;
  z-index: 2;
  -webkit-animation: moon 1000s linear infinite;
          animation: moon 1000s linear infinite;
}

@media only screen and (max-width: 1200px) {
  #home img {
    height: 40vh;
    width: 40vh;
    top: -20%;
    right: -20%;
  }
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes moon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */