.smallimg {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 250px) {
        display: none;
    }
}

.card-deck {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.fa-lock {
    margin-top: 30px;
    transform: scale(3);
}

.card {
    height: 80vh;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}