:root {
    --light: rgb(240, 249, 255);
    --dark: #2A231F;
    --orange: #FF5D00;
    --blue: #0001FF;
    --size-1: calc(0.75em + 1vmin);
    --size-2: calc(0.75em + 2vmin);
    --size-3: calc(0.75em + 3vmin);
    --size-4: calc(0.75em + 4vmin);
    --size-5: calc(0.75em + 5vmin);
}

@font-face {
    font-family: opensans;
    src: url('./Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: opensans-italic;
    src: url('./Open_Sans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: opensans-bold;
    src: url('./Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: opensans-bolditalic;
    src: url('./Open_Sans/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: opensans-extrabold;
    src: url('./Open_Sans/OpenSans-ExtraBold.ttf');
}

h1 {
    font-family: opensans-bold;
    color: var(--light);
    font-size: var(--size-4) !important;
    margin-bottom: 5vh;
}

h2 {
    font-family: opensans-bold;
    color: var(--light);
    font-size: var(--size-2) !important;
    margin-bottom: 5vh;
}

h6 {
    font-family: opensans-italic;
    text-align: center;
}

html {
    height: 100%;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-family: opensans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: url(img/background.jpg) no-repeat center center fixed; */
    overscroll-behavior-y: none;
}

@media only screen and (max-width:767px) {
    body {
        background-size: 100vw minmax(95vh, auto) !important;
        /* background-repeat: repeat-y; */
    }
}

html, body, .Page {
    min-height: 100vh;
    min-width: 100vw;
}

#home, #about {
    background: linear-gradient(75deg, rgba(10, 13, 15, 0.9) 0%, rgba(30, 30, 30, 0.95) 80%, rgba(255, 93, 0, 0.8) 100%), url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#work, #contact {
    background: linear-gradient(105deg, rgba(10, 13, 15, 0.9) 0%, rgba(30, 30, 30, 0.95) 80%, rgba(255, 93, 0, 0.8) 100%), url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

a {
    color: var(--blue) !important;
    text-decoration: none !important;
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--blue) !important;
        text-decoration: none !important;
        border-bottom: 2px solid var(--blue);
    }
}

a:active {
    color: var(--blue) !important;
    text-decoration: none !important;
    border-bottom: 2px solid var(--blue);
    border-radius: .25rem;
}

#work, #about, #contact {
    text-align: center;
}

.App {
    min-height: 100%;
    padding: 0;
}

.WelcomeText {
    font-size: calc(0.75em + 1vmin) !important;
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1em dotted var(--blue);
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    display: none;
    animation-play-state: paused;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(135deg);
    }
    75% {
        transform: rotate(225deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#navbar {
    width: 100%;
    max-height: 10vh;
    transition: top 0.3s
}

#navbar a.nav-link {
    display: block;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.btn, button {
    font-family: opensans-bold !important;
    color: var(--dark);
}

#aboutBtn {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    opacity: .8;
}

@media (hover: hover) and (pointer: fine) {
    #aboutBtn:hover {
        transform: scale(1.1);
        font-weight: bold;
        opacity: .9;
        background-color: var(--orange);
        border-color: var(--orange);
    }
}

#aboutBtn:active {
    transform: scale(1.1);
    font-weight: bold;
    opacity: .9;
    background-color: var(--orange);
    border-color: var(--orange);
}

#letsTalkBtn {
    float: right;
    font-weight: bold;
    opacity: .8;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    min-width: 10vw;
    height: auto;
}

@media (hover: hover) and (pointer: fine) {
    #letsTalkBtn:hover {
        transform: scale(1.1);
        font-weight: bold;
        opacity: .9;
        background-color: var(--orange);
        border-color: var(--orange);
    }
}

#letsTalkBtn:active {
    transform: scale(1.1);
    font-weight: bold;
    opacity: .9;
    background-color: var(--orange);
    border-color: var(--orange);
}

#submitBtn {
    font-size: inherit;
    min-width: 10vw;
    font-weight: bold;
    opacity: .8;
    border: 1px solid var(--dark);
    color: white;
    background-color: var(--dark);
}

@media (hover: hover) and (pointer: fine) {
    #submitBtn:hover {
        transform: scale(1.1);
        font-weight: bold;
        opacity: .9;
        background-color: var(--orange);
        border-color: var(--orange);
    }
}

#submitBtn:active {
    transform: scale(1.1);
    font-weight: bold;
    opacity: .9;
    background-color: var(--orange);
    border-color: var(--orange);
}

#introBox {
    max-width: 80vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#scrollBtn {
    font-size: 10vh;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    animation: MoveUpDown 1s linear infinite;
}

@media (hover: hover) and (pointer: fine) {
    #scrollBtn:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: var(--orange);
    }
}

#scrollBtn:active {
    transform: scale(1.2);
    cursor: pointer;
    color: var(--orange);
}

#tooltip {
    color: white;
    font-weight: bold;
    background-color: unset;
    font-size: 3vh;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

.Page {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: var(--light);
    scroll-snap-align: start;
}

#homeBody {
    height: 50vh;
    min-width: 100%;
    display: flex;
    padding-top: 2vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.line {
    width: 100%;
    height: 3px;
    border-bottom: 3px solid var(--dark);
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clickableIcon {
    cursor: pointer;
    margin: 2vw;
    font-size: calc(10px + 2vmin)
}

.fade {
    animation: fade-in-keyframes 0.5s;
}

@keyframes fade-in-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.smallimg {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    margin-bottom: 4vh;
}

@media screen and (max-width: 250px) {
    .smallimg {
        display: none;
    }
}

.dark-text {
    color: var(--dark);
}

#socialmedia {
    margin-left: auto;
    margin-top: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
}

@media (hover: hover) and (pointer: fine) {
    .fa-facebook:hover {
        color: #1186EE;
        transform: scale(1.3);
    }
}

.fa-facebook:active {
    color: #1186EE;
    transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
    .fa-instagram:hover {
        color: #AA328B;
        transform: scale(1.3);
    }
}

.fa-instagram:active {
    color: #AA328B;
    transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
    .fa-github:hover {
        color: #586069;
        transform: scale(1.3);
    }
}

.fa-github:active {
    color: #586069;
    transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
    .fa-twitter:hover {
        color: #1EA1F2;
        transform: scale(1.3);
    }
}

.fa-twitter:active {
    color: #1EA1F2;
    transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
    .fa-envelope:hover {
        color: #F95439;
        transform: scale(1.3);
    }
}


.fa-envelope:active {
    color: #F95439;
    transform: scale(1.3);
}

@media (hover: hover) and (pointer: fine) {
    .fa-linkedin-in:hover {
        color: #1377B5;
        transform: scale(1.3);
    }
}

.card-deck {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.fa-linkedin-in:active {
    color: #1377B5;
    transform: scale(1.3);
}

.greyedout {
    background-color: #8a8a8a
}

.input {
    width: 50vw;
}

#submitting {
    color: var(--orange);
}

.show {
    visibility: visible;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

#contactJumbotron {
    padding-right: 2vw;
    padding-left: 2vw;
}

.jumbotron {
    background-color: var(--light)
}