:root {
    --main-color: #282c34;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

body>#root>div {
    height: 100vh;
}

.App {
    text-align: center;
    background: url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    /* background-color: var(--main-color); */
}

.loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    opacity: 0;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Page {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 5vh;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.line {
    width: 100%;
    height: 3px;
    border-bottom: 3px solid var(--main-color);
    position: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clickableIcon {
    cursor: pointer;
    margin: 20px;
    font-size: calc(10px + 2vmin)
}

.fade {
    animation: fade-in-keyframes 0.5s;
}

@keyframes fade-in-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.smallimg {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 250px) {
    .smallimg {
        display: none;
    }
}

.dark-text {
    color: var(--main-color);
}